@charset "utf-8";

/* CSS RESET
------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*
---------------------------------------------- */

body {
	color: #1d3d76;
	font: 100% "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 20px;
    background-color: #ffffff;
}

ul.nav { 
    text-align: center; 
    margin: auto;
    padding: 0em;
}

ul.nav li { 
    display: inline-block; 
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	color: #e03b0f;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
	margin-bottom: .75em;
	text-align: center;
}        

h2 {
	font-size: 1.375em;
    text-align: center
}

h3 {
	font-size: 1.375em;
    text-align: center;
}

h3.critic {
    text-align: start;
}

h4 {
    text-align: center;
}

p {
	margin: 0 0 .5em;
	padding-right: 10px;
}

p.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.intro {
    text-indent: 2em;
    /* text-indent: each-line is not yet supported in browsers. */
}

p.profilephoto {
    float: left;
    padding: 5px 10px 5px 10px;
}

p.gmaps {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.intro > p {
    text-indent: 2em;
    /* text-indent: each-line is not yet supported in browsers. */
}

table, th, td {
    border: none;
    border-collapse: collapse;
    text-align: left;
    vertical-align: bottom;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-indent: 2em;
}

th {
    vertical-align: middle;
}

tr:hover {
    background-color: #f5f5f5;
}

/* link states */

a {
	padding: .2em;
}

a:link {
	text-decoration: none;
	color: #597dbd;
}

a:visited {
	text-decoration: none;
	color: #597dbd;
}

h4 a:hover
h4 a:link {
    text-decoration: none;
}

a.current {
	color: #000000;
    text-decoration: none;
}

a:hover.current {
	cursor: default;
}

/* Navigation Link States */

.nav a {    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    font-weight:bold;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.nav a:link{
    color:white;
}

.nav a:visited {
    color:white;
}

.nav a:current {    
    color: #ffffff;
}

.nav a:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    color: #e03b0f;
    font-weight:bold;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover.current {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-weight:bold;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: default;
}

/* Small Navigation Link States */

.navsmall a {    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    font-weight:bold;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
}

.navsmall a:link{
    color: white;
}

.navsmall a:visited {
    color: white;
}

.navsmall a:current {    
    color: #ffffff;
}

.navsmall a:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    color: #e03b0f;
    font-weight:bold;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    cursor: pointer;
}

.navsmall a:hover.current {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-box-shadow: 0px 3px 9px #666666;
    -moz-box-shadow: 0px 3px 9px #666666;
    box-shadow: 0px 3px 9px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-weight:bold;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    cursor: default;
}

/*



/* CONTENT
---------------------------------------------- */
